

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.fancybox-overlay {
}

.alabamaContainer {
	font-family: Arial, sans-serif;
	font-size: 12px;
	width: 980px;
	margin: 0 auto;
	margin-top: 25px;
	padding-bottom: 120px;
	box-sizing: border-box;
}
.alabamaContainer * {
	box-sizing: border-box;
}

.alabamaContainer sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
}

.alabamaLeft,
.alabamaRight {
	float: left;
}
.alabamaLeft {
	width: 665px;
	margin-right: 8px;
}
.alabamaRight {
	width: 307px;
}


.alabamaLeft .alabamaTopImage {
	border: 3px solid #fff;
	max-width: 100%;
}

.alabamaLeft .alabamaLeftSection {
	width: 100%;
	border-bottom: 1px solid #dedede;
	padding-bottom: 25px;
	padding-top: 10px;
}

.alabamaLeft #benefitsAndFunContainer {

}
.alabamaLeft #benefitsAndFunContainer > div {
	margin-top: 30px;
}
.alabamaLeft #benefitsAndFunContainer > div > .capLeft {
	width: 180px;
	margin-right: 16px;
	float: left;
}
.alabamaLeft #benefitsAndFunContainer > div > .capLeft img {
	max-width: 100%;
}
.alabamaLeft #benefitsAndFunContainer > div > .capRight {
	width: 469px;
	float: left;
}
.alabamaLeft #benefitsAndFunContainer h2 {
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	color: #4c9bdd;
	margin-top: 0;
	margin-bottom: 0px;
}
.alabamaLeft #benefitsAndFunContainer p {
	font-size: 12px;
	line-height: 18px;
	color: #585858;
	margin-top: 2px;
}
.alabamaLeft #benefitsAndFunContainer ul {
	list-style-position: outside;
	list-style-type: disc;
	float: left;
	width: 50%;
	margin: 0;
	padding-left: 12px;
	padding-right: 5px;
}
.alabamaLeft #benefitsAndFunContainer ul > li {
	color: #00afec;
	font-size: 12px;
	line-height: 14px;
	margin-top: 10px;
}

.alabamaLeft #benefitsAndFunContainer ul > li span {
	color: #555;
}

.alabamaLeft .alabamaLeftSection h2 {
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #343a48;
	margin-bottom: 20px;
}

#topSellingContainer {

}
#topSellingContainer .topSeller {
	float: left;
	width: 335px;
}
#topSellingContainer .topSeller:nth-of-type(2n) {
	margin-left: 5px;
	width: 311px;
}
#topSellingContainer .topSeller img {
	float: left;
	max-width: 140px;
}
#topSellingContainer .topSeller .info {
	float: left;
	margin-left: 11px;
	width: 175px;
}
#topSellingContainer .topSeller:nth-of-type(2n) .info {
	width: 160px;
}
#topSellingContainer .topSeller .info h3 {
	font-size: 14px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	color: #343a48;
}
#topSellingContainer .topSeller .info h4 {
	margin-top: 5px;
}
#topSellingContainer .topSeller .info h4,
#topSellingContainer .topSeller .info p,
#topSellingContainer .topSeller .info a {
	font-size: 12px;
	line-height: 16px;
	color: #343a48;
	font-weight: normal;
}
#topSellingContainer .topSeller .info a {
	font-style: italic;
}

#salesRepContainer {
	border-bottom: none;
}
#salesRepContainer .topInfoContainer {

}
#salesRepContainer .topInfoContainer img {
	float: left;
	width: 137px;
}
#salesRepContainer .topInfoContainer .topInfo {
	float: left;
	margin-left: 17px;
	width: 511px;
}
#salesRepContainer .topInfoContainer .topInfo h3 {
	font-size: 18px;
	line-height: 16px;
	font-weight: bold;
	color: #20508d;
	margin-top: 0;
	margin-bottom: 2px;
}
#salesRepContainer .topInfoContainer .topInfo div.phone {
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #20508d;
}
#salesRepContainer .topInfoContainer .topInfo h4 {
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	color: #4a4a4a;
	margin-top: 5px;
	margin-bottom: 0;
}
#salesRepContainer .topInfoContainer .topInfo ul.serviceAreas {
	margin: 0;
	margin-top: 2px;
	margin-bottom: 10px;
	padding: 0;
}
#salesRepContainer .topInfoContainer .topInfo ul.serviceAreas li {
	display: block;
	float: left;
	width: 25%;
	font-size: 10px;
	line-height: 16px;
	color: #5b5b5b;
}
#salesRepContainer .topInfoContainer .topInfo a.moreServiceArea {
	color: #20508d;
	text-decoration: none;
	font-size: 12px;
	padding-top: 5px;
}
#allServiceAreas {
	display: none;
	text-align: center;
	font-size: 12px;
}
#allServiceAreas img {
	max-width: 100%;
	margin: 0 auto 16px;
	text-align: center;
}
#allServiceAreas ul {
	float: left;
	text-align: left;
	width: 20%;
}

#salesRepContainer .bottomInfoContainer {
	margin-top: 20px;
}
.bottomInfoContainer #moreBioParagraphs {
	display: none;
	margin: 0;
	padding: 0;
}
.bottomInfoContainer #moreBioParagraphs p:first-of-type {
	margin-top: 0;
}
.bottomInfoContainer #moreBioParagraphs a {
	color: #20508d;
	text-decoration: underline;
}
.bottomInfoContainer a#moreBio {
	color: #20508d;
	text-decoration: none;
}


/* =========== */
/* = SIDEBAR = */
/* =========== */

#alabamaSidebarForm {
	width: 100%;
	min-height: 237px;
	background-color: #dbe9f3;
	border: 3px solid #fff;
	position: relative;
	padding: 20px 30px;
}
#alabamaSidebarForm .gform_wrapper form h3 {
	font: 600 18px "Open Sans", sans-serif;
	line-height: 18px;
	color: #006BA0;
	margin-top: 0px;
	margin-bottom: 8px;
}
#alabamaSidebarForm .gform_wrapper form span {
	display: block;
	font: 400 12px "Open Sans", sans-serif;
	line-height: 12px;
	color: #6e6e6e;
	margin-bottom: 8px;
}
#alabamaSidebarForm .gform_wrapper form .gform_body ul li input[type=text],
#alabamaSidebarForm .gform_wrapper form .gform_body ul li select {
	display: block;
	float: left;
	width: 100%;
	height: 32px;
	margin: 0;
	margin-top: 3px;
	margin-bottom: 5px;
	padding: 0px 0px 0px 10px;
	font: 400 12px "Open Sans" sans-serif;
	color: #A6A8AB;
	border: 1px solid #dbe0e5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0px 0px 2px 2px rgba(242,242,242,1);
	-moz-box-shadow: inset 0px 0px 2px 2px rgba(242,242,242,1);
	box-shadow: inset 0px 0px 2px 2px rgba(242,242,242,1);
}
#alabamaSidebarForm .gform_wrapper ul li.gfield {
	clear: none;
}
#alabamaSidebarForm .gform_wrapper form .gform_body ul li#field_1_2 input[type=text] {
	width: 32%;
}
#alabamaSidebarForm .gform_wrapper form .gform_body ul li#field_1_3 input[type=text] {
	width: 64%;
	float: right;
}
#alabamaSidebarForm .gform_wrapper form .gform_body ul li select {
	padding: 0px 0px 0px 8px;
}
#alabamaSidebarForm .gform_wrapper form .gform_body ul li.gfield_error input[type=text] {
	border: 1px solid red;
}
#alabamaSidebarForm .gform_wrapper form input[type=submit],
#alabamaSidebarForm .gform_wrapper form input[type=button] {
	display: block;
	margin: auto;
	margin: 10px auto 0;
	width: 48%;
	border: none;
	background: #e2151a;
	background-image: -o-linear-gradient(bottom, #e2151a 0%, #b61a29 100%);
	background-image: -moz-linear-gradient(bottom, #e2151a 0%, #b61a29 100%);
	background-image: -webkit-linear-gradient(bottom, #e2151a 0%, #b61a29 100%);
	background-image: -ms-linear-gradient(bottom, #e2151a 0%, #b61a29 100%);
	background-image: linear-gradient(to bottom, #e2151a 0%, #b61a29 100%);
	filter: none;
	font: 700 13px "Open Sans Condensed", sans-serif;
	color: white;
	text-decoration: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	padding: 3px 0px;
	clear: both;
	height: 40px;
	float: none;
}
#alabamaSidebarForm #gform_submit_button_2 {
	width: 70%;
}
#alabamaSidebarForm .gform_wrapper form input[type=submit]:hover,
#alabamaSidebarForm .gform_wrapper form input[type=button]:hover {
	background: #d2050a;
	background-image: -o-linear-gradient(bottom, #d2050a 0%, #a60a19 100%);
	background-image: -moz-linear-gradient(bottom, #d2050a 0%, #a60a19 100%);
	background-image: -webkit-linear-gradient(bottom, #d2050a 0%, #a60a19 100%);
	background-image: -ms-linear-gradient(bottom, #d2050a 0%, #a60a19 100%);
	background-image: linear-gradient(to bottom, #d2050a 0%, #a60a19 100%);
}
div#gform_confirmation_wrapper_1 {
	background-color: #dbe9f3;
	height: 205px;
	display: block;
	position: relative;
	z-index: 2;
}
#alabamaSidebarForm .thankyou {
	display: none;
	text-align: center;
	padding-top: 10px;
	font-size: 12px;
	color: #0B307E;
}
#alabamaSidebarForm .loader {
	display: none;
	padding-top: 20px;
	text-align: center;
}
#alabamaSidebarForm .privacy {
	position: absolute;
	right: 16px;
	bottom: 17px;
	z-index: 1;
}
#alabamaSidebarForm .privacy a {
	font-size: 10px;
	text-decoration: underline;
}
.alabamaRight .quoteBlock {
	background-color: #343a48;
	width: 100%;
	color: #fff;
	padding: 23px;
	margin: 10px 0;
}
.alabamaRight .quoteBlock p {
	font-weight: bold;
	font-style: italic;
	font-size: 13px;
	line-height: 20px;
	margin: 0;
}
.alabamaRight .quoteBlock .name {
	font-size: 12px;
	margin-top: 10px;
}
.alabamaRight .quoteBlock .location {
	font-size: 10px;
	margin-top: 3px;
	margin-bottom: 5px;
}
.alabamaRight .quoteBlock a {
	color: #fff;
	font-size: 16px;
	font-style: italic;
	text-decoration: none;
}

.alabamaRight img {
	max-width: 100%;
}

.fancybox-wrap {
	max-width: 70%;
}
.fancybox-inner {
	max-width: 100%;
}
.quoteFull {
	display: none;
	font-size: 14px;
	max-width: 100%;
}

.bottomInfoContainer p,
.quoteFull p {
	margin: 10px 0;
}

.alabamaRight .blogContainer {
	background-color: #dedede;
	width: 100%;
	margin: 10px 0;
	padding: 23px;
}
.alabamaRight .blogContainer h2 {
	font-size: 16px;
	color: #4c9bdd;
	font-weight: bold;
	margin-top: 0;
}
.alabamaRight .blogContainer a {
	text-decoration: none;
}
.alabamaRight .blogContainer ul {
	list-style-type: none;
	padding: 0;
}
.alabamaRight .blogContainer ul li {
	margin: 7px 0;
}
.alabamaRight .blogContainer .title {
	font-size: 12px;
	line-height: 18px;
	font-weight: bold;
	color: #585858;
	padding-bottom: 0;
}
.alabamaRight .blogContainer .more {
	font-size: 10px;
	line-height: 18px;
	color: #20508d;
}
.alabamaRight .blogContainer a.exploreBlog {
	font-size: 12px;
	color: #4c9bdd;
}

#alabamaSidebarForm .gform_wrapper form .gform_body ul li input[type=text].error,
#alabamaSidebarForm .gform_wrapper form .gform_body ul li select.error {
	border-color: red;
}