

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.fancybox-overlay {
	zoom: 0.5;
}

.alabamaContainer {
	zoom: 0.5;
	font-family: Arial, sans-serif;
	font-size: 24px;
	width: 1953px;
	margin: 0 auto;
	margin-top: 50px;
	padding-bottom: 240px;
	box-sizing: border-box;
}
.alabamaContainer * {
	box-sizing: border-box;
}

.alabamaContainer sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
}

.alabamaLeft,
.alabamaRight {
	float: left;
}
.alabamaLeft {
	width: 1330px;
	margin-right: 16px;
}
.alabamaRight {
	width: 607px;
}


.alabamaLeft .alabamaTopImage {
	border: 6px solid #fff;
}

.alabamaLeft .alabamaLeftSection {
	width: 100%;
	border-bottom: 1px solid #dedede;
	padding-bottom: 50px;
	padding-top: 20px;
}

.alabamaLeft #benefitsAndFunContainer {

}
.alabamaLeft #benefitsAndFunContainer > div {
	margin-top: 60px;
}
.alabamaLeft #benefitsAndFunContainer > div > .capLeft {
	width: 360px;
	margin-right: 32px;
	float: left;
}
.alabamaLeft #benefitsAndFunContainer > div > .capRight {
	width: 938px;
	float: left;
}
.alabamaLeft #benefitsAndFunContainer h2 {
	font-size: 32px;
	font-weight:  bold;
	line-height: 36px;
	color: #4c9bdd;
	margin-top: 0;
	margin-bottom: 0px;
}
.alabamaLeft #benefitsAndFunContainer p {
	font-size: 24px;
	line-height: 36px;
	color: #585858;
	margin-top: 2px;
}
.alabamaLeft #benefitsAndFunContainer ul {
	list-style-position: outside;
	list-style-type: disc;
	float: left;
	width: 50%;
	margin: 0;
	padding-left: 24px;
	padding-right: 10px;
}
.alabamaLeft #benefitsAndFunContainer ul > li {
	color: #00afec;
/*	display: block;*/
/*	float: left;*/
/*	width: 50%;*/
	font-size: 24px;
	line-height: 40px;
}

.alabamaLeft #benefitsAndFunContainer ul > li span {
	color: #555;
}

.alabamaLeft .alabamaLeftSection h2 {
	font-weight: bold;
	font-size: 28px;
	line-height: 48px;
	color: #343a48;
	margin-bottom: 40px;
}

#topSellingContainer {

}
#topSellingContainer .topSeller {
	float: left;
	width: 670px;
}
#topSellingContainer .topSeller:nth-of-type(2n) {
	margin-left: -20px;
}
#topSellingContainer .topSeller img {
	float: left;
}
#topSellingContainer .topSeller .info {
	float: left;
	margin-left: 22px;
	width: 290px;
}
#topSellingContainer .topSeller .info h3 {
	font-size: 28px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	color: #343a48;
}
#topSellingContainer .topSeller .info h4 {
	margin-top: 5px;
}
#topSellingContainer .topSeller .info h4,
#topSellingContainer .topSeller .info p,
#topSellingContainer .topSeller .info a {
	font-size: 20px;
	line-height: 32px;
	color: #343a48;
	font-weight: normal;
}
#topSellingContainer .topSeller .info a {
	font-style: italic;
}

#salesRepContainer {
	border-bottom: none;
}
#salesRepContainer .topInfoContainer {

}
#salesRepContainer .topInfoContainer img {
	float: left;
	width: 274px;
}
#salesRepContainer .topInfoContainer .topInfo {
	float: left;
	margin-left: 34px;
	width: 1022px;
}
#salesRepContainer .topInfoContainer .topInfo h3 {
	font-size: 36px;
	line-height: 32px;
	font-weight: bold;
	color: #20508d;
	margin-top: 0;
	margin-bottom: 2px;
}
#salesRepContainer .topInfoContainer .topInfo div.phone {
	font-size: 28px;
	line-height: 40px;
	font-weight: bold;
	color: #20508d;
}
#salesRepContainer .topInfoContainer .topInfo h4 {
	font-size: 24px;
	line-height: 40px;
	font-weight: bold;
	color: #4a4a4a;
	margin-top: 10px;
	margin-bottom: 0;
}
#salesRepContainer .topInfoContainer .topInfo ul.serviceAreas {
	margin: 0;
	margin-top: 4px;
	margin-bottom: 20px;
	padding: 0;
}
#salesRepContainer .topInfoContainer .topInfo ul.serviceAreas li {
	display: block;
	float: left;
	width: 25%;
	font-size: 20px;
	line-height: 32px;
	color: #5b5b5b;
}
#salesRepContainer .topInfoContainer .topInfo a.moreServiceArea {
	color: #20508d;
	text-decoration: none;
	font-size: 24px;
	padding-top: 10px;
}
#allServiceAreas {
	display: none;
	text-align: center;
	font-size: 24px;
}
#allServiceAreas ul {
	float: left;
	text-align: left;
	width: 20%;
}

#salesRepContainer .bottomInfoContainer {
	margin-top: 40px;
}
.bottomInfoContainer #moreBioParagraphs {
	display: none;
	margin: 0;
	padding: 0;
}
.bottomInfoContainer #moreBioParagraphs p:first-of-type {
	margin-top: 0;
}
.bottomInfoContainer #moreBioParagraphs a {
	color: #20508d;
	text-decoration: underline;
}
.bottomInfoContainer a#moreBio {
	color: #20508d;
	text-decoration: none;
}


/* =========== */
/* = SIDEBAR = */
/* =========== */

#alabamaSidebarForm {
	width: 100%;
	min-height: 473px;
	background-color: #dbe9f3;
	border: 6px solid #fff;
	position: relative;
	padding: 20px 30px;
}
#alabamaSidebarForm .gform_wrapper form h3 {
	font: 600 36px "Open Sans", sans-serif;
	line-height: 36px;
	color: #006BA0;
	margin-top: 0px;
	margin-bottom: 0px;
}
#alabamaSidebarForm .gform_wrapper form span {
	display: block;
	font: 400 24px "Open Sans", sans-serif;
	line-height: 24px;
	color: #6e6e6e;
}
#alabamaSidebarForm .gform_wrapper form .gform_body ul li input[type=text],
#alabamaSidebarForm .gform_wrapper form .gform_body ul li select {
	display: block;
	float: left;
	width: 100%;
	height: 64px;
	margin-top: 12px;
	padding: 0px 0px 0px 10px;
	font: 400 24px "Open Sans" sans-serif;
	color: #A6A8AB;
	border: 1px solid #dbe0e5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0px 0px 2px 2px rgba(242,242,242,1);
	-moz-box-shadow: inset 0px 0px 2px 2px rgba(242,242,242,1);
	box-shadow: inset 0px 0px 2px 2px rgba(242,242,242,1);
}
#alabamaSidebarForm .gform_wrapper ul li.gfield {
	clear: none;
}
#alabamaSidebarForm .gform_wrapper form .gform_body ul li#field_1_2 input[type=text] {
	width: 32%;
}
#alabamaSidebarForm .gform_wrapper form .gform_body ul li#field_1_3 input[type=text] {
	width: 63%;
	float: right;
}
#alabamaSidebarForm .gform_wrapper form .gform_body ul li select {
	padding: 0px 0px 0px 8px;
}
#alabamaSidebarForm .gform_wrapper form .gform_body ul li.gfield_error input[type=text] {
	border: 1px solid red;
}
#alabamaSidebarForm .gform_wrapper form input[type=submit],
#alabamaSidebarForm .gform_wrapper form input[type=button] {
	display: block;
	margin: auto;
	width: 48%;
	border: none;
	background: #e2151a;
	background-image: -o-linear-gradient(bottom, #e2151a 0%, #b61a29 100%);
	background-image: -moz-linear-gradient(bottom, #e2151a 0%, #b61a29 100%);
	background-image: -webkit-linear-gradient(bottom, #e2151a 0%, #b61a29 100%);
	background-image: -ms-linear-gradient(bottom, #e2151a 0%, #b61a29 100%);
	background-image: linear-gradient(to bottom, #e2151a 0%, #b61a29 100%);
	font: 700 26px "Open Sans Condensed", sans-serif;
	color: white;
	text-decoration: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	padding: 10px 0px;
	clear: both;
	height: 80px;
	float: none;
}
#alabamaSidebarForm #gform_submit_button_2 {
	width: 70%;
}
#alabamaSidebarForm .gform_wrapper form input[type=submit]:hover,
#alabamaSidebarForm .gform_wrapper form input[type=button]:hover {
	background: #d2050a;
	background-image: -o-linear-gradient(bottom, #d2050a 0%, #a60a19 100%);
	background-image: -moz-linear-gradient(bottom, #d2050a 0%, #a60a19 100%);
	background-image: -webkit-linear-gradient(bottom, #d2050a 0%, #a60a19 100%);
	background-image: -ms-linear-gradient(bottom, #d2050a 0%, #a60a19 100%);
	background-image: linear-gradient(to bottom, #d2050a 0%, #a60a19 100%);
}
#alabamaSidebarForm .privacy {
	position: absolute;
	right: 30px;
	bottom: 34px;
}
#alabamaSidebarForm .privacy a {
	font-size: 20px;
	text-decoration: underline;
}
.alabamaRight .quoteBlock {
	background-color: #343a48;
	width: 100%;
	/* height: 225px; */
	color: #fff;
	padding: 45px;
	margin: 20px 0;
}
.alabamaRight .quoteBlock p {
	font-weight: bold;
	font-style: italic;
	font-size: 26px;
	line-height: 40px;
	margin: 0;
}
.alabamaRight .quoteBlock .name {
	font-size: 24px;
	margin-top: 20px;
}
.alabamaRight .quoteBlock .location {
	font-size: 20px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.alabamaRight .quoteBlock a {
	color: #fff;
	font-size: 32px;
	font-style: italic;
	text-decoration: none;
}

.fancybox-wrap {
	max-width: 70%;
}
.fancybox-inner {
	max-width: 100%;
}
.quoteFull {
	display: none;
	/* width: 75%; */
	/*	width: 600px;*/
	font-size: 28px;
	max-width: 100%;
}

.bottomInfoContainer p,
.quoteFull p {
	margin: 20px 0;
}

.alabamaRight .blogContainer {
	background-color: #dedede;
	width: 100%;
	/* height: 566px; */
	margin: 20px 0;
	padding: 46px;
}
.alabamaRight .blogContainer h2 {
	font-size: 32px;
	color: #4c9bdd;
	font-weight: bold;
	margin-top: 0;
}
.alabamaRight .blogContainer a {
	text-decoration: none;
}
.alabamaRight .blogContainer ul {
	list-style-type: none;
	padding: 0;
}
.alabamaRight .blogContainer ul li {
	margin: 30px 0;
}
.alabamaRight .blogContainer .title {
	font-size: 24px;
	line-height: 36px;
	font-weight: bold;
	color: #585858;
}
.alabamaRight .blogContainer .more {
	font-size: 20px;
	line-height: 36px;
	color: #20508d;
	/* display: none; */
}
.alabamaRight .blogContainer a.exploreBlog {
	font-size: 24px;
	color: #4c9bdd;
}

